@import "../../styles/variables.css";

.button {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
    gap: 19px;
    color: var(--color-black);
    background-color: var(--color-yellow);
    border: none;
    border-radius: 0;
    font-family: var(--font-family-base);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
        color: var(--color-white);
    }

    &:hover .button-icon {
        fill: var(--color-white);
    }
}

.button-icon {
    fill: var(--color-black);
    transition: fill 0.3s ease,
}
