@import "../../styles/variables.css";

.progress {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 10px;

    &:last-child {
        margin: 0;
    }
}

.progress-label {
    margin: 0 0 5px;
}

.progress-bar {
    width: 100%;
    border: 1px solid var(--color-yellow);
    background-color: var(--color-white);
    appearance: none;
    -webkit-appearance: none;
    border-radius: 3px;
    height: 5px;
    overflow: hidden;

    &::-webkit-progress-bar {
        background-color: var(--color-white);
    }

    &::-webkit-progress-value {
        background-color: var(--color-yellow);
        transition: width 1s;
    }

    &::-moz-progress-bar {
        background-color: var(--color-yellow);
    }
}

.progress-bar::-moz-progress-bar {
    background-color: var(--color-yellow);
    transition: width 1s;
}
