@import "../../styles/variables.css";

.header-secondary {
    color: var(--color-black);
    font-size: 32px;
    line-height: 1.2;
    text-transform: capitalize;
    margin: 0 0 25px;
}

.header-center {
    text-align: center;
}
