@import "../../styles/variables.css";

.navigation {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 43px;
    margin: 250px 0 0;
    padding: 0 34px;
    position: fixed;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background);
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition: background-color 0.3s ease;

    &.active {
        background-color: var(--color-yellow);
    }

    &.active .navigation-icon {
        fill: var(--color-black);
    }
}

.item:hover {
    background-color: var(--color-yellow);
}

.navigation-icon {
    fill: var(--color-paragraph);
    transition: fill 0.3s ease;
}

.item:hover .navigation-icon {
    fill: var(--color-black);
}
