@import "../../styles/variables.css";

.wrapper {
    background-color: var(--color-background);
    display: flex;
    width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
}

.inner {
    display: grid;
    grid-gap: 70px;
    grid-auto-flow: row;
    width: 970px;
    padding: 0 27px 0 30px;
}
